use nix
if [ -e .venv ]; then
    source .venv/bin/activate
    echo "Python virtual environment active"
else
    echo "Your .venv does not seem to exist"
    echo "Therefore I will try to make one"
    sleep 1
    python -m venv .venv
    source .venv/bin/activate
    pip install -r requirements.txt
fi