---
- name: Deploy FX user account and configuration
  hosts: all
  gather_facts: true
  become: true
  
  vars:
    user: fx
    fx_comment: "FX System Administrator"
    fx_shell: "/bin/bash"
    debian_like_distros:
      - "Debian"
      - "Ubuntu" 
      - "OSMC"
    
  tasks:
    - name: Verify connectivity
      ping:
      become: false

    - name: Create FX user on Debian-like systems
      user:
        name: "{{ user }}"
        comment: "{{ fx_comment }}"
        shell: "{{ fx_shell }}"
        password: "!"
        create_home: true
        state: present
      when: ansible_distribution in debian_like_distros

    - name: Create FX user on FreeBSD
      user:
        name: "{{ user }}"
        comment: "{{ fx_comment }}"
        shell: "{{ fx_shell }}"
        create_home: true
        state: present
      when: ansible_distribution == "FreeBSD"

    - name: Disable root password on Debian-like systems
      user:
        name: root
        password: "!"
      when: ansible_distribution in debian_like_distros

    - name: Check if primary SSH key exists locally
      stat:
        path: "{{ lookup('env','HOME') }}/.ssh/id_rsa.pub"
      delegate_to: localhost
      become: false
      register: primary_ssh_key
      run_once: true

    - name: Set up primary SSH key
      authorized_key:
        user: "{{ user }}"
        key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
        state: present
      when: primary_ssh_key.stat.exists

    - name: Deploy sudoers configuration for Debian-like systems
      template:
        src: templates/sudoers_fx.j2
        dest: /etc/sudoers.d/fx
        owner: root
        group: root
        mode: '0440'
        validate: 'visudo -cf %s'
      when: ansible_distribution in debian_like_distros

    - name: Deploy sudoers configuration for FreeBSD
      template:
        src: templates/sudoers_fx.j2
        dest: /usr/local/etc/sudoers.d/fx
        owner: root
        group: wheel
        mode: '0440'
        validate: 'visudo -cf %s'
      when: ansible_distribution == "FreeBSD"

    - name: Ensure sudoers.d include is enabled on FreeBSD
      lineinfile:
        path: /usr/local/etc/sudoers
        line: "#includedir /usr/local/etc/sudoers.d"
        state: present
        validate: 'visudo -cf %s'
      when: ansible_distribution == "FreeBSD"

    - name: Remove conflicting Azure waagent sudoers file
      file:
        path: /etc/sudoers.d/waagent
        state: absent
      when: ansible_distribution in debian_like_distros
