---
- hosts: all
  gather_facts: true
  tasks:
    - name: ping
      ping:

      # create user on Debian
    - name: create Debian user
      user: name=fx comment="FX" shell="/bin/bash"
      become: true
      when: ansible_distribution=='Debian'
        or ansible_distribution=='OSMC'
        or ansible_distribution=='Ubuntu'

      # create used on FreeBSD
    - name: create FreeBSD user
      user: name=fx comment="FX"
      become: true
      when: ansible_distribution=='FreeBSD'

      # take the SSH pub key from OSX
    - name: set up ssh key
      authorized_key: user=fx
                      key="{{ lookup('file',lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
      become: true
      # take the SSH pub key from OSX
    - name: set up secondary
      authorized_key:
        user: fx
        key: '{{ item }}'
      with_file:
        - secondayssh.key
      become: true
      # set up sudoers file only for Debian machines
    - name: sudoers Debian
      copy: src=templates/sudoers_fx.j2
            dest=/etc/sudoers.d/fx
            owner=root group=root mode=0440
      become: true
      when: ansible_distribution=='Debian'
        or ansible_distribution=='OSMC'
        or ansible_distribution=='Ubuntu'

      # on FreeBSD sudoers file is in different location
    - name: sudoers FreeBSD
      copy: src=templates/sudoers_fx.j2
            dest=/usr/local/etc/sudoers.d/fx
            owner=root group=wheel mode=0440
      become: true
      when: ansible_distribution=="FreeBSD"

      # On Digitalocean, sudoers.d by default is not honored
    - name: Make sure includes are used for sudoers
      lineinfile:
        dest: /usr/local/etc/sudoers
        line: "#includedir /usr/local/etc/sudoers.d"
      when: ansible_distribution=="FreeBSD"
      become: true

      # remove the sudoers 'waagent' file that is created
      # for new Azure machines as it will clash with our own
    - name: remove /etc/sudoers.d/waagent
      file: path=/etc/sudoers.d/waagent state=absent
      become: true
      when:
        ansible_distribution=="Debian"
          or ansible_distribution=='OSMC'
          or ansible_distribution=='Ubuntu'
        and ansible_virtualization_type=="VirtualPC"
