# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# The 'huesensor' requires a package to be installed in 'custom_components' directory
# HA ships with HUE support already, however it does not support swithces/dimmers.
# therefore I use the 3rd party mainly to have working switch.
# this does create a small issue that there is some sensor duplication.
homekit:
  pinode: '123-45-678' 
  filter:
    include_domains:
      - light


sensor:
  - platform: huesensor
  # unfortunately the developers of HA are not polline the HUE often enough (5sec) for the motion sensors to actually provide decent reaction speed
  # therefore for motion sensors, I poll them separately via the HUE API
  # probably a good idea would be to buy some sort of ZigBee dongle, or I wish the Philips HUE would add support for callbacks/hooks. I'm amazed they don't have it already.
  #- platform: rest
  #  name: HueDimmer_REST
  #  resource: !secret hue_api_dimmer
  #  value_template: '{{ value_json.state.buttonevent }}'
  #  verify_ssl: false
  #  scan_interval: 5
  #


# configure the state of allowing joining for zigbee devices
switch:
  - platform: mqtt
    name: "Allow Zigbee devices to join"
    state_topic: "zigbee2mqtt/bridge/config/permit_join"
    command_topic: "zigbee2mqtt/bridge/config/permit_join"
    payload_on: "true"
    payload_off: "false"


binary_sensor:
  - platform: huesensor
device_tracker:
  - platform: huesensor


hue:
  bridges:
    - host: !secret hue_bridge_ip
      allow_unreachable: true


# Text to speech
tts:
  - platform: google_translate


group: !include groups.yaml
automation: !include automations.yaml