------------------------------------------------------
Welcome to {{ansible_fqdn}}
This server is managed by Ansible
It is running {{ansible_lsb.description}} on {{ansible_architecture}}
Kernel: {{ansible_kernel}}
Primary IP is: {{ansible_default_ipv4.address}} on interface: {{ansible_default_ipv4.interface}}
------------------------------------------------------
