---
- name: install locales
  apt:
    name: locales
- name: define locales
  template: src=locale.j2 dest=/etc/default/locale owner=root group=root mode=0644
- name: generate locales
  locale_gen: name=en_US.UTF-8 state=present
  when: ansible_distribution=='Debian' or ansible_distribution=='Ubuntu'

