---
- include: base-packages.yml
  when: ansible_os_family == "Debian"
- include: motd.yml
  when: ansible_os_family == "Debian"
- include: locales.yml
  when: ansible_os_family == "Debian"
- include: resolver.yml
  when: ansible_os_family == "Debian"
- include: disableswap.yml
  when: ansible_os_family == "Debian"
- include: nfs.yml
  when: ansible_os_family == "Debian" and ansible_architecture == "armv7l"
